css 
*{
    margin:0;
    padding:0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, #310d0d);
    background-position:center;
    background-color: cadetblue;
    background-size:cover;
    height:100vh;
    
}
.navbar{width: 1200px ;
 height: 75px;
 margin: auto;
}
.icon{
    width: 200px;
    height: 70px;
    float: left;

}
.logo{
    color: rgb(3, 18, 18);
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;

}
.menu{
    width: 400px;
    float: left;
    height: auto;

}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
list-style: none;
margin-left: 60px;
margin-top: 27px;
font-size: 14px;

}
ul lu{

}
]